# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = resource_monitor.settings

[deploy:local]
url         = http://10.66.10.22:6810/
project     = resource_monitor
version     = GIT
